@import-normalize; /* bring in normalize.css styles */

/*Main layout */
#navbar {
	height: 10vh;
}
.latest,
#mission {
	height: 100vh;
}

/* Navbar */
#navbar {
	padding: 1em 2em;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	transition: background 0.5s ease-in-out;
}
#navbar.trans {
	background-color: rgba(0, 0, 0, 1);
}
#navbar .link {
	cursor: pointer;
	color: #fff;
	transition: color 1s ease-in-out;
}
#navbar .active {
	color: #f00;
	transition: color 1s ease-in-out;
}
#navbar .link:hover {
	color: #bbb;
}

/* Latest weather */
.latest {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.latest-data {
	margin-right: 5em;
}
.mars-bg {
	background-image: url('./img/Mars-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*Six days weather*/
#six-days-weather {
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	padding-top: 12vh;
	/*OPEN SANS JUST FOR TABULAR*/
	font-family: 'Open Sans';
}
#six-days-weather .row {
	display: flex;
	align-content: center;
	justify-content: center;
}

/* Reports table */
#reports {
	padding-top: 12vh;
	text-align: center;
}
#reports td,
#reports th {
	border-top: none;
}
#reports tr:nth-child(1) {
	font-weight: bold;
}
#reports td {
	vertical-align: middle;
}
#reports th {
	vertical-align: baseline;
}
